# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# Environments
.env
.venv
env/
venv/
ENV/

# Project specific
data/processed/
results/temp/
*.log
deployment.json
node_modules/
